.box {
    border: 1px dashed white;
    height: auto;
    width: auto;
    color: darkcyan;
}

.boxes {
    border: 1px dashed darkcyan;
}
h1 {
    color: darkcyan;
}

body {
    background-color: black;
    text: darkcyan
    
}

.alert:any-link {
    color: rgb(53, 177, 222));
}

.alert {
    color:darkcyan;
    background-color: black;
    position: auto;

}


.navbar-dark {
    text-decoration: darkcyan;
}

  .navbar-brand {
    position: auto;
    left: auto;
    margin-left: 10px !important; 
    display: auto;
    padding-right: 100px;
}

.navbar-brand > img {
    transform:scale(1);
    transition:transform .2s ease;
}

.navbar-brand > img:hover {
    transform:scale(1.2);
}

.navbar{
  position: static !important;
  width:100%;
  transition: background-color 1s;
  box-shadow:0 0 30px rgba(0,0,0,0.03);
  color:#000;
}

.navbar-nav li > a {
    color:rgba(0,0,0,0.22);
    font-weight:400;
}

.navbar-nav li > a:hover {
    color:rgba(0,0,0,1);
}

.navbar-nav > li{
  padding-left:5px;
  padding-right:5px;
}

.container {
    margin-top: 30px;
    width: auto;
    height: auto;
    display: flex;
    flex-flow: wrap;
    align-content: space-around;
    flex-direction: row;
}

.boxes {
    height: 180px;
    width: 180px;
    margin:20px;
}

/* img {
    display: block;
    margin-left: auto;
    margin-right: auto;
} */